.order-confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .order-message {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .bank-details-container {
    margin-bottom: 20px;
  }
  
  .bank-details-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .scan-image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the gap between QR codes */
  }
  